
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.gradle/7.6.1/executionHistory/executionHistory.bin
/.gradle/file-system.probe
/.gradle/7.6.1/fileHashes/fileHashes.bin
/.gradle/7.6.1/checksums/md5-checksums.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/7.6.1/fileHashes/resourceHashesCache.bin
/.gradle/7.6.1/checksums/sha1-checksums.bin
