server:
  port: 8080
  servlet:
    context-path: /common

api-test: true

spring:
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: false
        show_sql: false

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://13.125.190.65:5432/swinglab?currentSchema=public&useSSL=false&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull&stringtype=unspecified
    username: swinglab
    password: qhdks@00

security:
  jwt:
    # 2023-rlvdmstodrkr-tmdnldfoq-vmffotvha-tlzmfltzl MjAyMy1ybHZkbXN0b2Rya3ItdG1kbmxkZm9xLXZtZmZvdHZoYS10bHptZmx0emw=
    key: 2023-rlvdmstodrkr-tmdnldfoq-vmffotvha-tlzmfltzl
  permitAll: >
    ${server.servlet.context-path}/v1/auth/login
    ,${server.servlet.context-path}/v1/auth/signup
    ,${server.servlet.context-path}/v1/auth/login/refresh
    ,${server.servlet.context-path}/error
  ignoring: >
    /favicon.ico


logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace